.join-main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.join-text {
  font-size: 3.5em;
  font-weight: bold;
  margin: 0;
}

.accent-text {
  color: #ad315d;
}

.join-form {
  background-color: #2c0c17;
  width: 50vw;
  max-width: 50%;
  padding: 2rem 4rem;
  border-radius: 20px;
}

.input-group {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.input-group:last-child {
  margin-bottom: 0;
}

.input-group label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.input-group input {
  outline: none;
  background: none;
  border: 1px solid #ad315d;
  font-size: 1em;
  padding: 0.5rem;
  color: inherit;
  border-radius: 5px;
}

.input-group input:focus {
  border-color: #ad315d;
}

@media (max-width: 900px) {
  .join-main-section {
    flex-direction: column;
    justify-content: center;
  }
  .join-form {
    width: 80vw;
    max-width: inherit;
    margin: 2rem 0;
  }
}
